.emp-animations-autorec-update-child {
    flex: 1;
    border: 2px solid #6f6c66;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.emp-animations-autorec-update-text {
    text-align: center;
}

.emp-animations-autorec-update-child:first-child {
    padding-right: 10px;
}

.emp-animations-autorec-update-ul {
    column-count: 2;
    overflow-x: auto;
    max-height: 400px;
}

.emp-animations-columns-3 {
    column-count: 3;
}

.emp-animations-autorec-update-buttons {
    height: 36px;
}

.emp-animations-muted {
    color: #777 !important;
}
